body {
    background-color: rgb(163, 163, 163);
    text-align: center;
    
}

header {
    height: 200px;
    background-color: #3a3a3a;
    display: inline-block;
}
main {
    height: 550px;
    width: 1250px;
    background-color: rgb(235, 235, 235);
    display: inline-block;
    
}

.bottom {
    color: white;
    height: 100px;
    width: 1250px;
    display: inline-block;
    background-color: black;
    
}
